:root {
	--board-width: 0;
	--animation-speed: 0.3s;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 1rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
	color: black;
	background: linear-gradient(to bottom right, #585858, #706d6d);
	width: 100%;
	max-width: 100%;
	min-height: 100vh;
}
nav {
	width: 100%;
	max-width: 100%;
	background-color: #4d4d4d;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 2;
	display: flex;
	justify-content: flex-start;
	align-content: center;

	button {
		font-size: 1.2em;
		font-weight: bold;
		padding: 1em 1.5em;
		color: white;
		background: none;
		border: none;
	}

	#menu {
		width: -webkit-fill-available;
		ul {
			list-style-type: none;
			display: inline-block;
			position: absolute;
			top: 100%;
			left: 0;
			background-color: #4d4d4d;
			transform: translateX(-100%);

			li a {
				width: 100%;
				font-size: 1.2em;
				font-weight: bold;
				text-decoration: none;
				display: inline-block;
				padding: 1em 1.5em;
				color: white;
			}
		}
		&.active {
			ul {
				transition: transform 0.3s ease-out;
				transform: translateX(0);
			}
		}
	}

	#settings {
		ul {
			list-style-type: none;
			width: clamp(230px, 30vw, 300px);
			color: white;
			background-color: #4d4d4d;
			padding: 1em 1.5em;
			position: absolute;
			top: 100%;
			right: 0;
			visibility: hidden;

			label {
				display: block;
				width: 100%;

				.value {
					float: right;
					font-weight: bold;
				}
			}

			input {
				width: 100%;
			}
		}

		&.active {
			ul {
				visibility: visible;
			}
		}
	}

	button,
	ul li a {
		cursor: pointer;
		&:focus,
		&:hover {
			background-color: #17eb88a2;
		}
	}
}
main {
	width: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	> div {
		margin: 2rem 0;
	}

	#rotate_board_btn {
		--size: 3rem;
		align-self: center;
		width: var(--size);
		height: var(--size);
		background-color: #17eb88a2;
		border-width: 0;
		border-radius: 50%;
		cursor: pointer;
	}

	#board {
		--square-size: calc(var(--board-width) / 8);
		position: relative;
		width: var(--board-width);
		height: var(--board-width);
		background-image: url(../assets/chessboard.gif);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		cursor: pointer;
		flex-shrink: 0;
		box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.2);

		.highlight {
			position: absolute;
			width: var(--square-size);
			height: var(--square-size);

			&.selected {
				background-color: #ebe817a2;
			}

			&.moves {
				background-color: #17eb88a2;
			}
		}

		& > img {
			position: absolute;
			width: var(--square-size);
			height: var(--square-size);
			cursor: grab;
			z-index: 1;
			transition: inset var(--animation-speed) ease-out;
		}

		.dialog {
			position: absolute;
			width: inherit;
			height: inherit;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #808080a6;
			cursor: default;
			z-index: 100;

			#promotion_box {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(2, 1fr);
				background-color: burlywood;
				border: 3px solid gold;
				border-radius: 1em;
				overflow: hidden;
				box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);

				img {
					width: calc(var(--square-size) * 1.3);
					height: calc(var(--square-size) * 1.3);
					cursor: pointer;
					transition: background-color 0.3s ease;

					&:hover {
						background-color: #e09533;
					}
				}
			}

			#gameover_box {
				padding: 1em 2em;
				text-align: center;
				background-color: azure;
				border-radius: 1em;

				h1 {
					color: #333;
				}

				button {
					margin: 1.7em 2em 1em;
					padding: 1em 3em;
					border: none;
					border-radius: 0.8em;
					color: white;
					font-weight: bold;
					cursor: pointer;

					&.newGame {
						background: linear-gradient(hsl(120, 60%, 48%), hsl(120, 60%, 60%));

						&:hover {
							background: linear-gradient(hsl(120, 70%, 48%), hsl(120, 70%, 60%));
						}
					}
				}
			}
		}
	}

	#controls {
		text-align: center;
		width: 100%;

		.movetext {
			font-weight: bold;
			text-align: left;
			min-height: 380px;
			padding: 1em 1.5em;
			color: #555;
			background-color: white;
			border-style: inset;
			border-radius: 7px;
		}

		.actions {
			form {
				margin: 1rem;

				label {
					color: #555;
					font-size: 1.3rem;
				}

				input[type='range'] {
					cursor: pointer;
				}
			}

			.buttons {
				display: flex;
				justify-content: space-evenly;
				align-content: center;

				button {
					width: clamp(110px, 40%, 150px);
					margin: 1rem 0;
					padding: 0.8em 1.8em;
					border: none;
					border-radius: 2rem;
					color: white;
					background-color: hsl(0, 0%, 60%);
					font-weight: bold;
					cursor: pointer;
				}
			}
		}
	}
}

@media (orientation: landscape) {
	nav {
		#menu_btn {
			display: none;
		}
		#menu {
			ul {
				position: static;
				transition: none;
				transform: translateX(0);

				li {
					display: inline-block;
				}
			}
		}
	}
	main {
		height: -webkit-fill-available;
		min-height: -webkit-fill-available;
		flex-direction: row;
		align-items: initial;

		> div {
			margin-top: 5rem;
		}

		#rotate_board_btn {
			margin: 1rem;
		}

		#controls {
			width: clamp(100px, 30vw, 500px);
		}
	}
}
